body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 600px; 
    width: 95%;
    margin: 0 auto;
}

.search {
    text-align: center;
    margin-top: 20px;
    padding: 0 10px;
}

.search input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search button, #markAsVisitedBtn {
    color: #fff;
    background-color: #3c8ce7;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.search button:hover, #markAsVisitedBtn:hover {
    background-color: #1e6bb8;
}

#adminLocation{
    text-align: center;
    color: rgb(4, 183, 4);
}

#adminLocation span{
    color: black;
}

#dropdown-container {
    text-align: center;
    margin-top: 20px;
}

#dropdown {
    height: 35px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}


@media (min-width: 768px) {
    .search input,
    .search button {
        width: auto;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .search input {
        width: 300px;
        margin-bottom: 15px;
    }
}
